.App {
  margin-top: 20px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.p-fileupload .p-button span {
  background-color: lightblue;
  padding: 10px 25px 10px 25px;
  border: 1px solid black;
  border-radius: 15%;
  cursor: pointer;
}

.p-fileupload .p-button svg {
  visibility: hidden;
}

.p-fileupload .p-button input {
  display: none;
}